<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <% for(var i = 0;i < data.length;i++){ %>


        <img class="card-img-top" src="<%= data[i].urlImage %>" alt="Card image cap" height="630px">

          <div class="content" style="font-size: 1rem">
            <form method="post" action="/showDetail">
              <input name="id" value="<%=data[i]._id%>" hidden>

            </form>
          </div>



        <form method="post" action="/delete" style="padding: 10px">
          <input name="idDelete" value="<%=data[i]._id%>" hidden>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>

  <% } %>


</div>
<script>
  function check() {
    var url = document.getElementById('exampleInputEmail1').value;
    if (url == "") {
      alert("Please enter something");
    }
  }
</script>
</body>
</html>
